{{- $url := .url -}}
{{- $title := or .title "YouTube video player" -}}

{{- $id := "" -}}
{{- if findRE `youtu\.be/([^?&/]+)` $url -}}
  {{- $id = replaceRE `.*youtu\.be/([^?&/]+).*` `$1` $url -}}
{{- else if findRE `v=([^?&/]+)` $url -}}
  {{- $id = replaceRE `.*[?&]v=([^&]+).*` `$1` $url -}}
{{- else if findRE `/embed/([^?&/]+)` $url -}}
  {{- $id = replaceRE `.*/embed/([^?&/]+).*` `$1` $url -}}
{{- else if findRE `/shorts/([^?&/]+)` $url -}}
  {{- $id = replaceRE `.*/shorts/([^?&/]+).*` `$1` $url -}}
{{- end -}}

<div class="yt-lite" data-ytid="{{ $id }}" data-title="{{ $title }}">
  <button class="yt-play" aria-label="Play video">
    <span class="yt-icon" aria-hidden="true"></span>
  </button>
  <picture>
    <source srcset="https://i.ytimg.com/vi_webp/{{ $id }}/hqdefault.webp" type="image/webp">
    <img class="yt-thumb" alt="" loading="lazy" decoding="async"
         src="https://i.ytimg.com/vi/{{ $id }}/hqdefault.jpg">
  </picture>
  <noscript>
    <iframe src="https://www.youtube-nocookie.com/embed/{{ $id }}?rel=0&modestbranding=1&playsinline=1"
            title="{{ $title }}" loading="lazy"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
  </noscript>
</div>
