{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index site.Data site.Language.Lang }}

<head>
  <meta charset="UTF-8">
  <style>
    .content {padding: 20px; max-width: 880px; margin: auto; line-height: 1.6;}
    .specs, .features, .faq ,.cta { background: #f9f9f9; padding: 15px; border-left: 4px solid #2E8B57; margin: 30px 0; }
    ul { margin-left: 20px; }
  </style>
</head>
<body>
<main class="content">
{{ with .Params.image }}
  <img src="{{ . | relURL }}" alt="{{ $.Title }}">
{{ end }}

<h2>Product Overview</h2>
{{ with .Params.description }}
  <p>{{ . }}</p>
{{ end }}

{{ with .Params.specs }}
<div class="specs">
  <h3>Technical Specifications</h3>
  <ul>
    {{ range .}}
    <li>{{ . }}</li>
    {{ end }}
  </ul>
</div>
{{ end }}

{{ with .Params.features }}
<div class="features">
  <h3>Features and Benefits</h3>
  <ul>
    {{ range .}}
    <li>{{ . | markdownify }}</li>
    {{ end }}
  </ul>
</div>
{{ end }}

{{ with .Params.application }}
<h2>Application Scenarios</h2>
  <ul>
    {{ range .}}
    <li>{{ . }}</li>
    {{ end }}
  </ul>
{{ end }}


<div class="product-content">
   {{ .Content }}
</div>


<!-- Contact Us -->
{{ with .Params.cta }}
<section class="section-sm bg-light">
  <div class="container text-center">
    <p class="lead mb-4">{{ .text }}</p>
    <a onclick="return gtag_report_conversion('https://wa.me/+8617395297329');" href="{{ .button_url }}" target="_blank" class="btn btn-success btn-lg">{{ .button_label }}</a>
  </div>
</section>
{{ end }}

</main>  
{{ end }}