{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index site.Data site.Language.Lang }}

<section class="product-single-page section-sm">
  <div class="container">

    <div class="row">
      <!-- 图片 -->
      <div class="col-md-6 mb-4">
        {{ with .Params.image }}
        <img class="img-responsive w-100 rounded shadow" src="{{ . | relURL }}" alt="{{ $.Title }}">
        {{ end }}
      </div>

      <!-- 简要信息 -->
      <div class="col-md-6">
        <h1>{{ .Title }}</h1>

        {{ with .Params.description }}
        <p class="lead mt-3">{{ . }}</p>
        {{ end }}

        {{ with .Params.features }}
        <h4 class="mt-4">Key Features</h4>
        <ul>
          {{ range . }}
          <li>✔ {{ . | markdownify}}</li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
    </div>

    <!-- 技术参数 -->
    {{ with .Params.specs }}
    <div class="row mt-50">
      <div class="col-12">
        <h4>Technical Specifications</h4>
        <table class="table table-bordered">
          <tbody>
            {{ range . }}
            <tr>
              <th>{{ . }}</th>
              <td>{{ . }}</td>
            </tr>
            {{ end }}
          </tbody>
        </table>
      </div>
    </div>
    {{ end }}
    <!-- 应用场景 -->
    {{ with .Params.application }}
    <div class="row mt-5">
      <div class="col-12">
        <h4>Use Cases</h4>
        <ul>
          {{ range . }}
          <li>✔ {{ . | markdownify}}</li>
          {{ end }}
        </ul>
      </div>
    </div>
    {{ end }}
    <!-- 内容正文 -->
    <div class="row mt-5">
      <div class="col-12">
        <div class="product-content">
          {{ .Content }}
        </div>
      </div>
    </div>
    <!-- Contact Us -->
    {{ with .Params.cta }}
    <section class="section-sm bg-light">
      <div class="container text-center">
       <p class="lead mb-4">{{ .text | markdownify}}</p>
       <a href="{{ .button_url }}" target="_blank" class="btn btn-success btn-lg">{{ .button_label }}</a>
      </div>
    </section>
    {{ end }}


  </div>
</section>

<style>
.specs, .features, .faq { 
  background: #f9f9f9; 
  padding: 15px; 
  border-left: 4px solid #2E8B57; 
  margin: 30px 0; 
}
ul { margin-left: 20px; }

</style>
{{ end }}
