{{ with site.GetPage "/" }}
{{ with .Params.cta }}
<section class="call-to-action bg-1 section-sm overly"
  style="background-image: url('{{ .bg_image | relURL }}'); position: relative;">
  <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark bg-opacity-25" style="pointer-events: none;"></div>

  <div class="container position-relative" style="z-index: 1;">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          {{ with .title }}<h2>{{ . | markdownify }}</h2>{{ end }}
          {{ with .content }}<p>{{ . | markdownify }}</p>{{ end }}
          {{ with .button }}
          {{ if .enable }}
          <a class="btn btn-main btn-solid-border" href="{{ partial "lang-or-en-url.html" .link }}">{{ .label }}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
