{{ define "main" }}

{{ partial "page-title.html" . }}

{{ with .Params.about }}
{{ if .enable }}
<section class="about section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="about-img">
          <img class="img-responsive" src="{{ .image | relURL }}" alt="PKYDRIP Company Logo">
        </div>
      </div>
      <div class="col-md-6">
        {{ with .title }}<h2 class="mt-40">{{ . | markdownify }}</h2>{{ end }}
        {{ with .content }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
        {{ with .button }}
        {{ if .enable }}
        <a href="{{ .link | relURL }}" class="btn btn-small mt-20">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
    </div>
    <div class="row counter-box text-center mt-50">
      {{ $counterColumn := "col-md-2" }}
      {{ if eq (len .funfacts) 4 }}{{ $counterColumn = "col-md-3" }}{{ end }}
      {{ range .funfacts }}
      <div class="{{ $counterColumn }}">
        <div class="counter-item">
          {{ with .icon }}<i class="{{ . }}"></i>{{ end }}
          {{ with .count }}<h4>{{ . }}</h4>{{ end }}
          {{ with .name }}<span>{{ . }}</span>{{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{ with .Params.features }}
{{ if .enable }}
<section class="about-feature bg-dark section dark-service">
  <div class="container">
    {{ with .title }}
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <h2>{{ . | markdownify }}</h2>
        </div>
      </div>
    </div>
    {{ end }}
    <div class="row">
      {{ range .feature_item }}
      <div class="col-md-4">
        <div class="service-item">
          {{ with .icon }}<i class="{{ . }}"></i>{{ end }}
          {{ with .name }}<h4>{{ . | markdownify }}</h4>{{ end }}
          {{ with .content }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<section class="testimonial section-sm">
  <div class="container">
    <div class="row">

      {{ if .Params.testimonial.enable }}
      {{ with .GetPage "/" }}
      <div class="col-md-6">
        <div class="testimonial-carousel text-center">
          <div class="testimonial-slider owl-carousel">
            {{ range .Params.funfacts.testimonial_slider }}
            <div>
              <i class="fas fa-quote-left"></i>
              {{ with .content }}<p>"{{ . | markdownify }}"</p>{{ end }}
              <div class="user">
                {{ with .image }}<img src="{{ . | relURL }}" alt="our funder">{{ end }}
                <p><span>{{ .name | markdownify }}</span> {{ .designation | markdownify }}</p>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
      {{ end }}

      {{ with .Params.mission_vision }}
      {{ if .enable }}
      <div class="col-md-6">
        <div class="tabCommon">
          <!-- Bootstrap 5 tabs -->
          <ul class="nav nav-tabs" role="tablist">
            {{ range $index, $elements := .tabs }}
            <li class="nav-item" role="presentation">
              <button
                class="nav-link {{ if eq $index 0 }}active{{ end }}"
                id="{{ .name | urlize }}-tab"
                data-bs-toggle="tab"
                data-bs-target="#{{ .name | urlize }}"
                type="button"
                role="tab"
                aria-controls="{{ .name | urlize }}"
                aria-selected="{{ if eq $index 0 }}true{{ else }}false{{ end }}">
                {{ .name }}
              </button>
            </li>
            {{ end }}
          </ul>

          <div class="tab-content">
            {{ range $index, $elements := .tabs }}
            <div
              id="{{ .name | urlize }}"
              class="tab-pane fade {{ if eq $index 0 }}show active{{ end }}"
              role="tabpanel"
              aria-labelledby="{{ .name | urlize }}-tab"
              tabindex="0">
              {{ .content | $.Page.RenderString (dict "display" "block") }}
            </div>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
      {{ end }}

    </div>
  </div>
</section>


<!-- Call to action -->
{{ if .Params.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}
<!-- /Call to action -->

{{ end }}
