{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- checking blog -->
{{ if or (eq .Section "post") (eq .Section "solution") (eq .Section "posts") (eq .Section "blog") (eq .Section "blogs") (eq .Section "news") (eq .Section "categories") (eq .Section "tags") }}

<section class="page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="post post-single">
          <h2 class="post-title">{{ .Title }}</h2>
          <div class="post-meta">
            <ul>
              <li><i class="ion-calendar"></i> {{ time.Format ":date_long" .PublishDate }}</li>
              <li><i class="ion-android-people"></i>
                {{ i18n "posted_by" }}
                {{ $authors := slice }}{{ if reflect.IsSlice .Params.author }}{{ $authors = .Params.author }}{{ else }}{{ $authors = (slice .Params.author) }}{{ end -}}
                {{ range $index, $elements := $authors }}{{ if ne $index 0 }}, {{ end }}<a class="text-primary" href="{{ `author/` | relLangURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
              </li>
              <li><i class="ion-pricetags"></i>
                {{ range $index, $elements:= .Params.tags }}{{ if ne $index 0 }}, {{ end }}<a href="{{ `tags/` | relLangURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
              </li>
            </ul>
          </div>
          <div class="post-thumb">
            {{ with .Params.image -}}
            <img class="img-responsive" src="{{ . | relURL }}" alt="{{ $.Title }}">
            {{- end }}
          </div>
          <div class="post-content post-excerpt">
            {{ .Content }}
          </div>
          <div style="border: 1px solid #ccc; padding: 24px; border-radius: 8px;">
            <p style="margin-bottom: 16px;">
              <strong>Looking to upgrade your greenhouse or open-field irrigation system?</strong><br>
              Whether you need a customized design, smart water-saving solutions, or expert support, we're here to help.<br>
              👉 Let’s turn your ideas into a fully optimized irrigation solution tailored to your land.
            </p>
            <div style="text-align: center;" >
              <a href="https://wa.me/+8617395297329" style="display: inline-block; padding: 10px 20px; background-color: #28a745; color: white; text-decoration: none; border-radius: 4px;">
                Contact Us
              </a>
            </div>
          </div>

          {{ with site.Params.DisqusShortname -}}
          <div class="post-comments">
            {{ template "_internal/disqus.html" . }}
          </div>
          {{- end }}
        </div>
      </div>
      <div class="col-md-4">
        {{ partial "blog-sidebar.html" . }}
      </div>
    </div>
  </div>
</section>

<!-- regular page -->
{{ else -}}
{{ .Render "default" }}
{{- end }}
<!-- /regular page -->

{{ end }}
