{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index site.Data site.Language.Lang }}

<section class="portfolio-single-page section-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="project-content mt-50">
          {{ .Content }}
        </div>
      </div>
    </div>
    <div class="row">
        {{ with .Params.package }}
        <section class="section-sm">
          <div class="container">
            <h1 class="mb-5" style="border-left: 5px solid #28a745; padding-left: 15px;">Standard Project Service Packages</h1>
              <div class="table-responsive mt-50">
                <table class="table table-bordered table-striped">
                  <thead class="table-light">
                    <tr>
                      <th>Service Package</th>
                      <th>Application Scope</th>
                      <th>What's Included</th>
                      <th>Estimated Price</th>
                    </tr>
                  </thead>
                  <tbody>
                   {{ range . }}
                   <tr>
                      <td>{{ .name }}</td>
                      <td>{{ .scope }}</td>
                      <td>{{ .content | markdownify}}</td>
                      <td>{{ .price }}</td>
                    </tr>
                   {{ end }}
                  </tbody>
                </table>
              </div>
            </div>
          </section>        
        {{ end }}
    </div>
    <div class="row">
      {{ with .Params.packagenote }}
      <div class="alert alert-success mt-3" role="alert">
       <strong>Note:</strong> {{ . }}
      </div>
      {{ end }}
    </div>
    <div class="row">
        {{ with .Params.service }}
        <section class="section-sm">
          <div class="container">
            <h1 class="mb-5" style="border-left: 5px solid #28a745; padding-left: 15px;">PKYDrip International Service Tiers</h1>
              <div class="table-responsive mt-50">
                <table class="table table-bordered table-striped">
                  <thead class="table-light">
                    <tr>
                      <th>Service Item</th>
                      <th>Basic</th>
                      <th>Pro</th>
                      <th>OEM/Partner</th>
                    </tr>
                  </thead>
                  <tbody>
                   {{ range . }}
                   <tr>
                      <td>{{ .item }}</td>
                      <td>{{ .basic }}</td>
                      <td>{{ .pro }}</td>
                      <td>{{ .oem }}</td>
                    </tr>
                   {{ end }}
                  </tbody>
                </table>
              </div>
            </div>
          </section>        
        {{ end }}
    </div>
    <div class="row">
      {{ with .Params.servicenote }}
      <div class="alert alert-success mt-3" role="alert">
       <strong>Note:</strong> {{ . }}
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}